.background-image {
  width: 100%;
  flex: 1;
  display: flex;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  align-items: end;
  justify-content: end;
  opacity: 0.2;
  height: 100vh;
}

.background-image img {
  width: 50vw;
}

/* Background Responsive */

@media only screen and (max-width: 1280px) {
  .background-image img {
    width: 640px;
  }
}

@media only screen and (max-width: 768px) {
  .background-image img {
    width: 83.33vw;
  }
}
