.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.form-container {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff11;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 1rem;
  padding-top: 25px;
  padding-bottom: 40px;
}

.form-container h1 {
  margin-bottom: 30px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.form-container form label {
  display: block;
  align-self: flex-start;
  margin-bottom: 3px;
}

.form-container form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  color: #ccc;
  font-size: 1rem;
}

.form-container form input:focus {
  outline: 1px solid #ccc;
}

.form-container form span {
  display: block;
  align-self: flex-start;
  height: 20px;
  font-size: 0.9rem;
  margin-bottom: 5px;
  font-weight: 500;
  letter-spacing: 0.2;
  color: #eb293ca9;
}

.error-msg{
  color: #eb293ca9;
}

.form-container form p {
  height: 10px;
  position: relative;
  top: -15px;
  color: #eb293ca9;
  letter-spacing: 0.2;
  font-size: 0.9rem;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.form-container form button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1px;
  background-color: #ffffffde;
}

.form-container form button:hover {
  background-color: #fffffff6;
}

.form-text {
  font-size: 1rem;
  margin-top:10px;
  letter-spacing: 0.5px;
}

.form-text a {
  text-decoration: none;
  color: #ffffff96;
  letter-spacing: 0.1px;
}

.form-text a:hover {
  color: #ffffffc5;
}

/* Movie Form */

.movie-form-grid {
  width: 78vw;
  height: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  color: #ffffff;
  gap: 20px;
}

.movie-form-grid div {
  width: 100%;
}

.movie-form-grid > div:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1;
}

.movie-form-grid > div:nth-child(2) {
  grid-column: 3;
  grid-row: 1;
}

.movie-form-grid > div:nth-child(3) {
  grid-column: 4;
  grid-row: 1;
}

.movie-form-grid > div:nth-child(4) {
  grid-column: 1/3;
  grid-row: 2;
}

.movie-form-grid > div:nth-child(5) {
  grid-column: 1/3;
  grid-row: 3/5;
}

.movie-form-grid > div:nth-child(6) {
  grid-column: 3/5;
  grid-row: 2/5;
}

.movie-form-grid > div:nth-child(7) {
  grid-column: 2;
  grid-row: 5;
  place-content: center;
}

.movie-form-grid > div:nth-child(8) {
  grid-column: 3;
  grid-row: 5;
  place-content: center;
}

.movie-form-grid input,
.movie-form-grid select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  color: #ccc;
  font-size: 1rem;
}

.movie-form-grid select option{
 color:#000000;
}

.movie-form-grid label {
  display: block;
  align-self: flex-start;
  margin-bottom: 4px;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  color: #ccc;
  font-size: 1rem;
}

.select-grid {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  color: #ccc;
  font-size: 1rem;
}

.select-grid > label {
  display: flex;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Inverts black to white */
  cursor: pointer;
}

/* Responsive */

@media only screen and (max-width: 1536px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 640px) {
  .form-container {
    width: auto;
    padding: 25px 30px 40px 30px;
  }

  /* Responsive Movie Form */
  .movie-form-grid {
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto); /* Change from 1fr to auto */
    gap: 20px;
  }

  .movie-form-grid div {
    width: 100%;
    height: auto; /* Ensure height adjusts dynamically */
  }

  .movie-form-grid > div:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .movie-form-grid > div:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .movie-form-grid > div:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }

  .movie-form-grid > div:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 3;
  }

  .movie-form-grid > div:nth-child(5) {
    grid-column: 1 / 3;
    grid-row: 4;
  }

  .movie-form-grid > div:nth-child(6) {
    grid-column: 1 / 3;
    grid-row: 5;
    margin-top: 20px;
  }

  .movie-form-grid > div:nth-child(7) {
    grid-column: 1;
    grid-row: 6;
  }

  .movie-form-grid > div:nth-child(8) {
    grid-column: 2;
    grid-row: 6;
  }

  .select-grid {
    padding: 10px;
  }
}


@media only screen and (max-width: 475px) {
  .form-container {
    font-size: 0.9rem;
  }

  .form-container form {
    width: 270px;
  }

  .form-container form button {
    font-size: 1rem;
  }

  .form-text {
    font-size: 0.9rem;
  }
}