.home-container {
  width: 78vw;
  height: auto;
  margin: 0 auto;
}

.home-container h1 {
  font-size: 6.4rem;
  width: 80%;
  color: #ffffff;
  font-weight: 500;
 
}

.home-container h3{
  color:#ffffff;
font-weight: 200;
letter-spacing: 1.5px;
font-size: 1.4rem;
 margin-bottom: 90px;
 margin-top: 20px;
 line-height: 40px;

}

.card-container {
  width: 80%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, minmax(160px, 1fr));
  gap: 20px;
  grid-auto-flow: column;
  padding-bottom: 20px;
  margin-top:20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: space-between;
  height: 120px;
  border-radius: 20px;
  padding-bottom: 30px;
  padding-left: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.card:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.card-container .card:nth-child(1) {
  background-color: #130f40;
}

.card-container .card:nth-child(2) {
  background-color: #ffffff54;
}

.card-container .card:nth-child(3) {
  background-color: #eb293c9d;
}

.card p {
  font-size: 1.5rem;
  color: #ffffff;
  padding: 0 20px;
  letter-spacing: 1px;

}

.arrow {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: right;
  align-self: flex-end;
  padding: 5px;
  margin-top: 10px;
  margin-right: 12px;
}

.arrow img {
  width: 16px;
  height: 16px;
}


@media only screen and (max-width: 1280px) {
  .home-container {
    width: 80vw;
  }

  .home-container h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 1024px) {
  .home-container {
    width: 82vw;
  }

  .home-container h1 {
    width: 100%;
  }

  .card-container {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .home-container {
    width: 85vw;
  }

  .home-container h1 {
    font-size: 5.5rem;

  }

  .card-container {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .home-container {
    margin: 30px auto;
  }
  .home-container h1{
    font-size: 4.2rem;
    text-align: center;
  }

   .home-container h3{
    text-align: center;
   }

  .card {
    height: 110px;
  }

  .card-container {
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 475px) {
  .home-container h1 {
    font-size: 3.3rem;
  }

  .home-container h3 {
    font-size: 1.4rem;
  }

}
